<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/user/setting">設定</a></li>
    <li class="breadcrumb-item"><a href="/admin">管理者メニュー</a></li>
    <li class="breadcrumb-item"><a href="/admin/tag">タグ一覧</a></li>
    <li class="breadcrumb-item active">タグ詳細</li>
  </ol>
</nav>
<h2 style="text-align: center;">タグ詳細</h2>
<p>ID：<%= @detail[:id] %></p>
<p>登録日時：<%= @detail[:created_at] %></p>
<p>最終更新日時：<%= @detail[:updated_at] %></p>
<br>
<form action="/admin/tag/<%= @detail[:id] %>/modify" method="POST">
  <div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">名前：</label>
    <div class="input-group col">
      <input type="text" id="name" name="name" class="form-control" value="<%= @detail[:name] %>" required>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">読み方：</label>
    <div class="input-group col">
      <input type="text" id="name_yomi" name="name_yomi" class="form-control" value="<%= @detail[:name_yomi] %>" required>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <input type="submit" class="btn btn-primary" value="保存" />
  </div>
</form>