<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/user/mypage">マイページ</a></li>
    <li class="breadcrumb-item">書籍追加</li>
    <li class="breadcrumb-item"><a href="/book/add/title">タイトル入力</a></li>
    <li class="breadcrumb-item active">詳細入力</li>
  </ol>
</nav>
<h2 style="text-align: center;">書籍追加</h2>
<h4>タイトル：<%= @title %></h4>
<% if @exists != nil %>
  <div class="alert alert-warning">
    タイトルが一致する書籍を見つけました。<br>このデータを利用する場合は書籍をクリックしてください。
  </div>
  <div class="border exists" onclick="location.href='/user/own/<%= @exists.id %>'";>
    <div style="text-align: center;">
      <img src="/images/cover/<%= @exists.cover %>" height="200px" />
    </div>
    <div>
      <h5><%= @exists.title %></h5>
      <%= @author %>
    </div>
  </div>
<% end %>
<p>詳細情報を追加してください。</p>
<form action="/book/add/done" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="title" value="<%= @title %>">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true">
    <label class="custom-control-label" for="is-adult" style="color: red;">18禁タイトル</label>
  </div>
  <br>
  <div class="form-group row" aria-describedby="cover-help">
    <label for="cover-img" class="col-sm-3 col-form-label">表紙画像：</label>
    <div class="custom-file col">
      <input type="file" class="custom-file-input" id="cover-img" name="cover-img">
      <label class="custom-file-label" for="cover-img">ファイルを選択</label>
    </div>
  </div>
  <span id="cover-help" class="form-text text-muted">
    対応形式：BMP,PNG,JPG　サイズ：3MB以下
  </span>
  <br>
  <div class="form-group row">
    <label for="author" class="col-sm-3 col-form-label">著者(必須)：</label>
    <div class="input-group col">
      <input type="text" id="author" name="author" class="form-control" required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#listModal" data-whatever="author">一覧</button>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="circle" class="col-sm-3 col-form-label">サークル名(必須)：</label>
    <div class="input-group col">
      <input type="text" id="circle" name="circle" class="form-control" required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#listModal" data-whatever="circle">一覧</button>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="genre" class="col-sm-3 col-form-label">ジャンル(必須)：</label>
    <div class="input-group col">
      <input type="text" id="genre" name="genre" class="form-control" required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#listModal" data-whatever="genre">一覧</button>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="event" class="col-sm-3 col-form-label">頒布イベント：</label>
    <div class="input-group col">
      <input type="text" id=event name="event" class="form-control">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#listModal" data-whatever="event">一覧</button>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="date" class="col-sm-3 col-form-label">発行日：</label>
    <div class="col">
      <input type="date" id="date" name="date" class="form-control">
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="detail" class="col-sm-3 col-form-label">詳細,メモ：</label>
    <div class="col">
      <textarea id="detail" name="detail" class="form-control"></textarea>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="登録" />
</form>

<div class="modal" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<script>
  var author_list, circle_list, genre_list, event_list;
  $(function() {
    $.ajaxSetup({ async: false });
    $.getJSON("/api/get_list?type=author", data => author_list = data);
    $.getJSON("/api/get_list?type=circle", data => circle_list = data);
    $.getJSON("/api/get_list?type=genre", data => genre_list = data);
    $.getJSON("/api/get_list?type=event", data => event_list = data);
    $.ajaxSetup({ async: true });
  })
  $('.custom-file-input').on('change', function () {
    $(this).next('.custom-file-label').html($(this)[0].files[0].name);
  })
  $('#listModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // モーダル切替えボタン
    var target = button.data('whatever') // data-* 属性から情報を抽出
    var modal = $(this)
    nameLabel = {"author": "著者", "circle": "サークル", "genre": "ジャンル", "event": "イベント"}
    modal.find('.modal-title').text(nameLabel[target] + "リストから選択")
    modal.find('.modal-body').empty()
    list = eval(target + "_list")
    for (var i in list) {
      modal.find('.modal-body').append(
        `<button type="button" class="btn btn-outline-primary" onclick="setVal('${target}', '${list[i].name}')" style="margin: 2px">${list[i].name}</button>`
      )
    }
  })
  function setVal(target, value){
    document.getElementById(target).value = value
    $('#listModal').modal('hide')
  }
</script>