<% if @from == "mypage" %>
<button type="button" class="btn btn-primary" onclick="location.href='/user/mypage'" style="margin-bottom: 1rem; float: left;">
<% else %>
<button type="button" class="btn btn-primary" onclick="location.href='/book'" style="margin-bottom: 1rem; float: left;">
<% end %>
  ← 戻る
</button>
<div style="float: right;">
  <% if @owned %>
  <button class="btn btn-warning" style="margin-bottom: 1rem" onclick="location.href='/book/<%= @book_detail.id %>/modify?from=<%= @from %>'">編集</button>
  <button class="btn btn-danger" style="margin-bottom: 1rem" data-toggle="modal" data-target="#delModal">所持解除</button>
  <% elsif session[:id] != nil %>
  <button class="btn btn-info" style="margin-bottom: 1rem" onclick="location.href='/user/own/<%= @book_detail.id %>?exist=true&from=<%= @from %>'">所持</button>
  <% end %>
</div>
<h2 style="text-align: center;">書籍詳細</h2>
<div style="text-align: center;">
  <img src="/images/cover/<%= @book_detail.cover %>" />
</div>
<br>
<table class="table">
  <tr>
    <td>タイトル</td>
    <td><%= @book_detail.title %></td>
  </tr>
  <tr>
    <td>R-18指定</td>
    <td><%= @book_detail.is_adult ? "はい" : "いいえ" %></td>
  </tr>
  <tr>
    <td>著者</td>
    <td><%= @author %></td>
  </tr>
  <tr>
    <td>サークル名</td>
    <td><%= @circle %></td>
  </tr>
  <tr>
    <td>ジャンル</td>
    <td><%= @genre %></td>
  </tr>
  <tr>
    <td>頒布イベント名</td>
    <td><%= @event %></td>
  </tr>
  <tr>
    <td>発行日</td>
    <td><%= @book_detail.date %></td>
  </tr>
  <tr>
    <td>詳細</td>
    <td><%= @book_detail.detail %></td>
  </tr>
  <tr>
    <td>最終更新者</td>
    <td><%= @user %></td>
  </tr>
</table>

<% if @owned %>
<form action="/user/memo/<%= @book_detail.id %>" method="POST">
  <div class="form-group">
    <input type="hidden" name="from" value="<%= @from %>">
    <label for="memoarea">メモ：</label>
    <textarea id="memoarea" name="memoText" class="form-control"><%= @memo %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">保存</button>
</form>
<% elsif session[:id] == nil %>
<div class="alert alert-info">
  ログインすると自分専用のメモを登録できるようになります。
</div>
<% end %>

<% if @owned %>
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">確認</h5>
      </div>
      <div class="modal-body">
        所有状態を解除するとメモが削除されます。<br>
        よろしいですか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-danger" onclick="location.href='/user/unown/<%= @book_detail.id %>?from=<%= @from %>'">削除</button>
      </div>
    </div>
  </div>
</div>
<% end %>