<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kotori</title>
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/open-iconic-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/github-markdown.css" rel="stylesheet" type="text/css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet"
      type="text/css" />
    <link href="/css/original.css?ver=<%= $version %>" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie-1.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/utils.js?ver=<%= $version %>"></script>
    <% if request.path =~ /\A\/book\/[0-9]+\z/ %>
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://kotori.marron.work/book/<%= @book.id %>">
    <meta name="twitter:title" content="<%= @book.title %>">
    <meta name="twitter:description" content="<%= @book.circle.name %>">
    <meta name="twitter:image" content="https://kotori.marron.work/images/cover/<%= @book.cover %>">
    <% end %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Kotori</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu"
              aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navmenu">
            <!-- 左寄せ -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/search">書籍検索</a>
              </li>
              <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" href="#" id="listItem" role="button" data-toggle="dropdown"
                  aria-haspopup="false" aria-expanded="false">
                  登録一覧
                </a>
                <div class="dropdown-menu" aria-labelledby="listItem">
                  <a class="dropdown-item" href="/author">著者</a>
                  <a class="dropdown-item" href="/circle">サークル</a>
                  <a class="dropdown-item" href="/genre">ジャンル</a>
                  <a class="dropdown-item" href="/event">イベント</a>
                  <a class="dropdown-item" href="/tag">タグ</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/help">Help</a>
              </li>
            </ul>
            <!-- 右寄せ -->
            <ul class="navbar-nav">
              <% if session[:id] != nil %>
              <li class="nav-item">
                <button type="button" class="btn btn-primary mb-2 mb-sm-0" onClick="location.href='/user/setting'" style="margin-right: 5px">
                  <span class="oi oi-cog"> 設定</span>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-danger" onClick="location.href='/logout'">
                  <span class="oi oi-account-logout"> ログアウト</span>
                </button>
              </li>
              <% else %>
              <li class="nav-item">
                <button type="button" class="btn btn-info" onClick="location.href='/login'">
                  <span class="oi oi-account-login"> ログイン</span>
                </button>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        
      </nav>
    </header>
    <div class="container">
      <% if @msg %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= @msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <br>
    <footer class="footer">
      <div class="text-center">
        &copy; 2019 Marron Akanishi<br>
        各画像の著作権は、著作権者に帰属します。
      </div>
    </footer>
  </body>
</html>