<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/user/mypage">マイページ</a></li>
    <li class="breadcrumb-item">書籍追加</li>
    <li class="breadcrumb-item"><a href="/book/add/title">タイトル入力</a></li>
    <li class="breadcrumb-item active">詳細入力</li>
  </ol>
</nav>
<h2 style="text-align: center;">書籍追加</h2>
<h4>タイトル：<%= @title %></h4>
<% if @exists.length != 0 %>
  <div class="alert alert-warning">
    タイトルが一致する書籍を見つけました。<br>このデータを利用する場合は書籍をクリックしてください。
  </div>
  <% for book in @exists %>
  <div class="border exists" onclick="location.href='/user/own/<%= book.id %>'">
    <div style="text-align: center;">
      <img src="/images/cover/<%= book.cover %>" height="200px" />
    </div>
    <div>
      <h5><%= book.title %></h5>
      <%= book.authors[0].name %>
    </div>
  </div>
  <% end %>
<% end %>
<p>詳細情報を追加してください。</p>
<form action="/book/add/done" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="title" value="<%= @title %>">
  <div class="custom-control custom-checkbox">
    <% if @detail[:is_adult] %>
    <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true" checked>
    <% else %>
    <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true">
    <% end %>
    <label class="custom-control-label" for="is-adult" style="color: red;">18禁タイトル</label>
  </div>
  <br>
  <div style="text-align: center;">
    <% if @detail != nil %>
    <img id="cover-preview" src="<%= @detail[:cover] %>" height="300px">
    <% else %>
    <img id="cover-preview" src="/images/cover/noimage.png" height="300px">
    <% end %>
  </div>
  <br>
  <div class="form-group row" aria-describedby="cover-help">
    <label for="cover-img" class="col-sm-3 col-form-label">表紙画像：</label>
    <input type="hidden" name="image-url" value="<%= @detail[:cover] %>">
    <div class="custom-file col-sm-8" style="margin: 0 1rem">
      <input type="file" class="custom-file-input" id="cover-img" name="cover-img">
      <label class="custom-file-label" for="cover-img">ファイルを選択</label>
    </div>
    <div class="col-sm-3"> </div>
    <div class="col">
      <span class="form-text text-muted">対応形式：BMP,PNG,JPG　サイズ：3MB以下</span>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="author" class="col-sm-3 col-form-label">著者(必須)：</label>
    <div class="col-sm-9" id="author-list">
      <% if @detail[:author] %>
      <% @detail[:author].split(",").each do |name| %>
      <button type="button" class="btn btn-outline-dark btn-sm" style="margin: 0 .25rem .5rem 0"
        onclick="delData()"><%= name %></button>
      <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 form-text text-muted">一番先頭がメインになります</div>
    <div class="input-group col-sm-9">
      <input type="hidden" id="author" name="author" value="<%= @detail[:author] %>">
      <input type="text" id="author-input" class="form-control add-form">
      <div class="input-group-append">
        <button type="button" class="btn btn-success" onclick="addData('author-input')">追加</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="circle" class="col-sm-3 col-form-label">サークル名(必須)：</label>
    <div class="input-group col-sm-9">
      <input type="text" id="circle-input" name="circle" class="form-control" value="<%= @detail[:circle] %>" required>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="genre" class="col-sm-3 col-form-label">ジャンル(必須)：</label>
    <div class="col-sm-9" id="genre-list">
      <% if @detail[:genre] %>
      <% @detail[:genre].split(",").each do |name| %>
      <button type="button" class="btn btn-outline-dark btn-sm" style="margin: 0 .25rem .5rem 0"
        onclick="delData()"><%= name %></button>
      <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 form-text text-muted">一番先頭がメインになります</div>
    <div class="input-group col-sm-9">
      <input type="hidden" id="genre" name="genre" value="<%= @detail[:genre] %>">
      <input type="text" id="genre-input" class="form-control add-form">
      <div class="input-group-append">
        <button type="button" class="btn btn-success" onclick="addData('genre-input')">追加</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="event" class="col-sm-3 col-form-label">頒布イベント：</label>
    <div class="input-group col-sm-9">
      <input type="text" id="event-input" name="event" class="form-control" value="<%= @detail[:event] %>">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="date" class="col-sm-3 col-form-label">発行日：</label>
    <div class="col-sm-9">
      <input type="date" id="date-input" name="date" inputmode="tel" class="form-control" value="<%= @detail[:published_at] %>">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="genre" class="col-sm-3 col-form-label">タグ：</label>
    <div class="col-sm-9" id="tag-list">
      <% if @detail[:tag] %>
      <% @detail[:tag].split(",").each do |name| %>
      <button type="button" class="btn btn-outline-dark btn-sm" style="margin: 0 .25rem .5rem 0"
        onclick="delData()"><%= name %></button>
      <% end %>
      <% end %>
    </div>
    <div class="col-sm-3"> </div>
    <div class="input-group col-sm-9">
      <input type="hidden" id="tag" name="tag" value="<%= @detail[:tag] %>">
      <input type="text" id="tag-input" class="form-control add-form">
      <div class="input-group-append">
        <button type="button" class="btn btn-success" onclick="addData('tag-input')">追加</button>
      </div>
    </div>
  </div>
  <hr>
  <div id="input-error">入力に不備があります</div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="submitCheck()">登録</button>
  </div>
</form>

<script src="/js/modify_form.js?ver=<%= $version %>"></script>