<h2 style="text-align: center;">書籍情報編集</h2>
<form action="/book/<%= @book.id %>/modify/done?from=<%= @from %>" method="POST" enctype="multipart/form-data">
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">タイトル(必須)：</label>
    <div class="col">
      <input type="text" id=title name="title" class="form-control" value="<%= @book.title %>" required>
    </div>
  </div>
  <div class="custom-control custom-checkbox">
    <% if @book.is_adult %>
    <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true" checked>
    <% else %>
    <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true">
    <% end %>
    <label class="custom-control-label" for="is-adult" style="color: red;">18禁タイトル</label>
  </div>
  <br>
  <div style="text-align: center;">
    <img id="cover-preview" src="/images/cover/<%= @book.cover %>" height="300px" />
    <input type="hidden" name="orig-cover" value="<%= @book.cover %>" >
  </div>
  <br>
  <div class="form-group row" aria-describedby="cover-help">
    <label for="cover-img" class="col-sm-3 col-form-label">表紙画像：</label>
    <div class="custom-file col">
      <input type="file" class="custom-file-input" id="cover-img" name="cover-img">
      <label class="custom-file-label" for="cover-img">ファイルを選択</label>
    </div>
  </div>
  <span id="cover-help" class="form-text text-muted">
    対応形式：BMP,PNG,JPG　サイズ：3MB以下
  </span>
  <br>
  <div class="form-group row">
    <label for="author" class="col-sm-3 col-form-label">著者(必須)：</label>
    <div class="input-group col">
      <input type="text" id="author" name="author" class="form-control" value="<%= @author %>" required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#listModal"
          data-whatever="author">一覧</button>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="circle" class="col-sm-3 col-form-label">サークル名(必須)：</label>
    <div class="input-group col">
      <input type="text" id="circle" name="circle" class="form-control" value="<%= @circle %>" required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#listModal"
          data-whatever="circle">一覧</button>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="genre" class="col-sm-3 col-form-label">ジャンル(必須)：</label>
    <div class="input-group col">
      <input type="text" id="genre" name="genre" class="form-control" value="<%= @genre %>" required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#listModal"
          data-whatever="genre">一覧</button>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="event" class="col-sm-3 col-form-label">頒布イベント：</label>
    <div class="input-group col">
      <input type="text" id=event name="event" class="form-control" value="<%= @event %>">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#listModal"
          data-whatever="event">一覧</button>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="date" class="col-sm-3 col-form-label">発行日：</label>
    <div class="col">
      <input type="date" id="date" name="date" class="form-control" value="<%= @book.published_at %>" >
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="detail" class="col-sm-3 col-form-label">詳細,メモ：</label>
    <div class="col">
      <textarea id="detail" name="detail" class="form-control"><%= @book.detail %></textarea>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <input type="submit" class="btn btn-primary" value="登録" />
  </div>
</form>

<div class="modal" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<script src="/js/modify_form.js?ver=<%= $version %>"></script>