<!-- 
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/user/mypage">マイページ</a></li>
    <li class="breadcrumb-item active">書籍詳細</li>
  </ol>
-->
</nav>
<h2 style="text-align: center;">書籍詳細</h2>
<div style="text-align: center;">
  <img src="/images/cover/<%= @book.cover %>" />
</div>
<br>
<table class="table">
  <tr>
    <td>タイトル</td>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <td>R-18指定</td>
    <td><%= @book.is_adult ? "はい" : "いいえ" %></td>
  </tr>
  <tr>
    <td>著者</td>
    <td><a href="/author/<%= @author.id %>"><%= @author.name %></a></td>
  </tr>
  <tr>
    <td>サークル名</td>
    <td><a href="/circle/<%= @circle.id %>"><%= @circle.name %></a></td>
  </tr>
  <tr>
    <td>ジャンル</td>
    <td><a href="/genre/<%= @genre.id %>"><%= @genre.name %></a></td>
  </tr>
  <tr>
    <td>頒布イベント名</td>
    <% if @event == "" %>
    <td></td>
    <% else %>
    <td><a href="/event/<%= @event.id %>"><%= @event.name %></a></td>
    <% end %>
  </tr>
  <tr>
    <td>発行日</td>
    <td><%= @book.published_at %></td>
  </tr>
  <tr>
    <td>詳細</td>
    <td><%= @book.detail %></td>
  </tr>
  <tr>
    <td>最終更新者</td>
    <td><%= @user %></td>
  </tr>
</table>

<div class="d-flex justify-content-end">
  <% if @owned %>
  <button class="btn btn-warning" style="margin: 0 0.1rem"
    onclick="location.href='/book/<%= @book.id %>/modify?from=<%= @from %>'">情報編集</button>
  <button class="btn btn-danger" style="margin: 0 0.1rem" data-toggle="modal" data-target="#delModal">所有解除</button>
  <% elsif session[:id] != nil %>
  <button class="btn btn-info" style="margin: 0 0.1rem"
    onclick="location.href='/user/own/<%= @book.id %>?exist=true&from=<%= @from %>'">所有</button>
  <% end %>
</div>

<% if @owned %>
<form action="/user/memo/<%= @book.id %>" method="POST">
  <div class="form-group">
    <input type="hidden" name="from" value="<%= @from %>">
    <label for="memoarea">メモ：</label>
    <textarea id="memoarea" name="memoText" class="form-control"><%= @memo %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">保存</button>
</form>
<% elsif session[:id] == nil %>
<div class="alert alert-info">
  ログインすると自分専用のメモを登録できるようになります。
</div>
<% end %>

<% if @owned %>
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">確認</h5>
      </div>
      <div class="modal-body">
        所有状態を解除するとメモが削除されます。<br>
        よろしいですか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-danger" onclick="location.href='/user/unown/<%= @book.id %>?from=<%= @from %>'">削除</button>
      </div>
    </div>
  </div>
</div>
<% end %>