<script>document.title = "書籍情報編集 - Kotori"</script>
<h2 style="text-align: center;">書籍情報編集</h2>
<form action="/book/<%= @book.id %>/modify/done?from=<%= @from %>" method="POST" enctype="multipart/form-data">
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">タイトル(必須)：</label>
    <div class="col">
      <input type="text" id=title name="title" class="form-control" value="<%= @book.title %>" required>
    </div>
  </div>
  <div class="custom-control custom-checkbox">
    <% if @book.is_adult %>
    <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true" checked>
    <% else %>
    <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true">
    <% end %>
    <label class="custom-control-label" for="is-adult" style="color: red;">18禁タイトル</label>
  </div>
  <br>
  <div style="text-align: center;">
    <img id="cover-preview" src="/images/cover/<%= @book.cover %>" height="300px" />
    <input type="hidden" name="orig-cover" value="<%= @book.cover %>">
  </div>
  <br>
  <div class="form-group row" aria-describedby="cover-help">
    <label for="cover-img" class="col-sm-3 col-form-label">表紙画像：</label>
    <div class="custom-file col-sm-8" style="margin: 0 1rem">
      <input type="file" class="custom-file-input" id="cover-img" name="cover-img">
      <label class="custom-file-label" for="cover-img">ファイルを選択</label>
    </div>
    <div class="col-sm-3"> </div>
    <div class="col">
      <span class="form-text text-muted">対応形式：BMP,PNG,JPG　サイズ：3MB以下</span>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="author" class="col-sm-3 col-form-label">著者(必須)：</label>
    <div class="col-sm-9" id="author-list">
      <% @author.split(",").each do |name| %>
      <button type="button" class="btn btn-outline-dark btn-sm" style="margin: 0 .25rem .5rem 0"
        onclick="delData()"><%= name %></button>
      <% end %>
    </div>
    <div class="col-sm-3 form-text text-muted">一番先頭がメインになります</div>
    <div class="input-group col-sm-9">
      <input type="hidden" id="author" name="author" value="<%= @author %>">
      <input type="text" id="author-input" class="form-control add-form">
      <div class="input-group-append">
        <button type="button" class="btn btn-success" onclick="addData('author-input')">追加</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="circle" class="col-sm-3 col-form-label">サークル名(必須)：</label>
    <div class="input-group col-sm-9">
      <input type="text" id="circle-input" name="circle" class="form-control" value="<%= @book.circle.name %>" required>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="genre" class="col-sm-3 col-form-label">ジャンル(必須)：</label>
    <div class="col-sm-9" id="genre-list">
      <% @genre.split(",").each do |name| %>
      <button type="button" class="btn btn-outline-dark btn-sm" style="margin: 0 .25rem .5rem 0"
        onclick="delData()"><%= name %></button>
      <% end %>
    </div>
    <div class="col-sm-3 form-text text-muted">一番先頭がメインになります</div>
    <div class="input-group col-sm-9">
      <input type="hidden" id="genre" name="genre" value="<%= @genre %>">
      <input type="text" id="genre-input" class="form-control add-form">
      <div class="input-group-append">
        <button type="button" class="btn btn-success" onclick="addData('genre-input')">追加</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="event" class="col-sm-3 col-form-label">頒布イベント：</label>
    <div class="input-group col-sm-9">
      <% if @book.event %>
      <input type="text" id="event-input" name="event" class="form-control" value="<%= @book.event.name %>">
      <% else %>
      <input type="text" id="event-input" name="event" class="form-control" value="">
      <% end %>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="date" class="col-sm-3 col-form-label">発行日：</label>
    <div class="col-sm-9">
      <input type="date" id="date-input" name="date" inputmode="tel" class="form-control"
        value="<%= @book.published_at %>">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="genre" class="col-sm-3 col-form-label">タグ：</label>
    <div class="col-sm-9" id="tag-list">
      <% if @tag %>
      <% @tag.split(",").each do |name| %>
      <button type="button" class="btn btn-outline-dark btn-sm" style="margin: 0 .25rem .5rem 0"
        onclick="delData()"><%= name %></button>
      <% end %>
      <% end %>
    </div>
    <div class="col-sm-3"> </div>
    <div class="input-group col-sm-9">
      <input type="hidden" id="tag" name="tag" value="<%= @tag %>">
      <input type="text" id="tag-input" class="form-control add-form">
      <div class="input-group-append">
        <button type="button" class="btn btn-success" onclick="addData('tag-input')">追加</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="url" class="col-sm-3 col-form-label">URL：</label>
    <div class="col-sm-9">
      <input type="text" id="url-input" name="url" class="form-control" value="<%= @book.url %>">
    </div>
  </div>
  <hr>
  <div id="input-error">入力に不備があります</div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="submitCheck()">登録</button>
  </div>
</form>

<script src="/js/modify_form.js?ver=<%= $version %>"></script>